*{
    /*it's use for more buty of web*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: abc;
    src: url("BeVietnamPro-Medium.ttf");
}


#wrapper{
    height: 100vh;
    /*ofx use for img is not scroll in x-axis (in width direction)*/
    overflow-x: hidden;
    /*ofy use for img is scrolling in y axis (in height direction)*/
    overflow-y: scroll;
    /*it'z use for assume image in 3-d ke image mari aakh thi atle dur che*/
    perspective: 10px;

}

.container{
    /*flex use for assume img in box */
    display: flex;
    /*bcz apne khbr che ke bg ane pg ne pchi absolute pos api desu atle e eka bija mathe overlap thay jay*/
    position: relative;
    /*for center part use :-.....*/
    justify-content:center ;
    align-items: center;
    /*height use for full image in frame compare to main size*/
    height: 100%;
    /*use for effect of 3-d*/
    transform-style: preserve-3d;
    /*z index atle vapray che ke teni mathe bijo koi photo ke text rakhi sakhi*/
    z-index: -1;
}
.bg ,.pg{
    /*akho photo dekhay ena mate use kryo h ane w no*/
    height: 100%;
    width: 100%;
    /*parante box ni sarkhamni ma margin ane padding chute ena mate absolute use kryu*/
    position: absolute;
    /*teni mathe text avi ske tena mate use kryu*/
    z-index: -1;

    object-fit: cover;
}

.bg{
    /*perspective duri thi img ne jo mate translate ane e image nani thay jay ene pachi moti krva scale no use kryo*/
    transform: translateZ(-50px)scale(6.2);
}

.pg{
    /*perspective duri thi img ne jo mate translate ane e image nani thay jay ene pachi moti krva scale no use kryo*/
    transform: translateZ(-20px)scale(3);


}

h1{
    /*font-family: "Arial Black", serif;*/
    position: absolute;
    font-size: 7rem;
    letter-spacing: 5px;
    top: 10rem;
    color: white;
    text-shadow:20px 10px 20px rgba(0 0 11);
    font-family: "abc", serif ;
    /*font-family: first;*/
}

.bg1{
    background-image: url("hiking.jpg");

}
.bg2{
    background-image: url("hiking2.jpg");

}

section{
    background:rgb(45,45,45);
    padding: 5rem 0;
    color: white;
}
.hed{
    font-size: 4rem;
    padding:0 10rem;
}

.text{
    padding: 0 10rem;
    font-size: 1.5rem;
    margin: 5rem 0;
}
.wg{
    width: 100%;

    position: relative;

    /*bg fixed karva jethi scrooll krti vakhte fre nu*/
    background-attachment: fixed;
    height: 550px;

    /*photo sarkho nto avto atle use kryo*/
    background-position: center;
    background-size: cover;

}

.hed2{

    font-family: "Bodoni MT", serif;
    font-size: 50px;
    color: white;

    text-shadow:10px 5px 7px rgba(0 0 11);

    position: absolute;
    top: 49%;
    left: 50%;
    transform: translateX(-50%) ;


}
h3{
    font-size: 50px;

}
.hed3{
    position: absolute;
    top: 35%;
    left: 35%;
    color: white;
    text-shadow:5px 5px 5px rgba(0 0 11);
    font-size: 40px;



}
h4{
    position: absolute;
    left:75%;
    top: 75%;
    font-size: 30px
}














